<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员-课程成绩信息管理</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <a class="btn btn-success"href="/admin_course_score/" role="button">返回</a>
    <h2>课程：{{ courseName }}</h2>
    <table class="table table-bordered">
        <tr>
            <th>学号</th>
            <th>成绩</th>
            <td>操作</td>
        </tr>
        {% for item in stus %}
        <tr>
            <td>{{ item.stuNo }}</td>
            <td>{{ item.stuScore }}</td>
            <td><a class="btn btn-danger" href="#" role="button">删除</a></td>
        </tr>
        {% endfor %}
    </table>
    <h2>以下学生还未登入成绩</h2>
    <table class="table table-bordered">
        <tr>
            <th>学号</th>
            <th>成绩</th>
            <td>操作</td>
        </tr>
        {% for item in stus_not_have_score %}
        <tr>
            <td>{{ item.stuNo }}</td>
            <td>{{ item.stuScore }}</td>
            <td><a class="btn btn-warning" href="/admin_course_score_stu_add/?courseNo={{ courseNo }}&stuNo={{ item.stuNo }}" role="button">登入成绩</a></td>
        </tr>
        {% endfor %}
    </table>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
</body>
</html>