<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员主页</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text .navbar-left">学生信息管理系统</p>
            <a class="btn btn-default navbar-btn navbar-right" href="/index/" role="button">退出系统</a>
        </div>
	</nav>
	<div class="container-fluid col-md-2">
		<div class="row">
			<div class="col-md-12">				
                <a class="btn btn-primary btn-lg btn-block" href="/admin_stu_info/" role="button">学生基本信息管理</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">				
                <a class="btn btn-primary btn-lg btn-block" href="/admin_course_info/" role="button">课程基本信息管理</a>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">				
                <a class="btn btn-primary btn-lg btn-block" href="/admin_course_score/" role="button">课程成绩信息管理</a>
			</div>
		</div>
	</div>
	<div class="container-fluid col-md-10">
		<div class="jumbotron">
			<h1>欢迎，管理员</h1>
		</div>
	</div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    </script>
</body>
</html>