<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员-学生基本信息管理-添加学生</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text .navbar-left">学生信息管理系统</p>
            <a class="btn btn-default navbar-btn navbar-right" href="/index/" role="button">退出系统</a>
        </div>
	</nav>
    <div class="container-fluid">
        <div class="row">
			<div class="col-md-12">
                <a class="btn btn-success btn-lg"href="/admin_stu_info/" role="button">返回</a>
            </div>
        </div>
        <br>
        <div class="page-header">
            <h1>添加学生</h1>
        </div>
        <form method="post" action='/admin_stu_info_add/'>
            <div class="form-group">
                <label for="stuNo">学生学号</label>
                <input type="text" class="form-control" name="stuNo">
            </div>
            <div class="form-group">
                <label for="stuName">学生姓名</label>
                <input type="text" class="form-control" name="stuName">
            </div>
            <div class="form-group">
                <label for="stuAge">学生年龄</label>
                <input type="text" class="form-control" name="stuAge">
            </div>
            <div class="form-group">
                <label for="stuSex">学生性别</label>
                <input type="text" class="form-control" name="stuSex">
            </div>
            <div class="form-group">
                <label for="stuGrade">学生年级</label>
                <input type="text" class="form-control" name="stuGrade">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="text" class="form-control" name="password">
            </div>
            <div class="col-md-2 col-md-offset-5">
                <input class="btn btn-warning btn-lg btn-block" type='submit' value='提交' role="button">
            </div>
          </form>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
</body>
</html>