<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理员-学生基本信息管理-添加学生</title>
    <link rel="stylesheet" rev="stylesheet" href="css/style.css" type="text/css" media="all" />
    <style type="text/css">
			<!-- .atten {
				font-size: 12px;
				font-weight: normal;
				color: #F00;
			}
			-->
		</style>

		<script type="text/javascript" src="My97DatePicker/WdatePicker.js"></script>

	    <script type="text/javascript" src="kindeditor/kindeditor.js"></script>

	     <script type="text/javascript">

	      KE.show({id:"re"});
	     </script>
</head>
<body>
    <a class="btn btn-success"href="/admin_stu_info/" role="button">返回</a>
    <form method="post" action='/admin_stu_info_add/'>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">

				<tr>
					<td height="30">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="62" background="images/nav04.gif" class="style10">
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table id="subtree1" style="DISPLAY: ;" width="100%" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<td>
									<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
									<tr><td height="40" class="font42">

				<table width="99%" border="0" cellpadding="0" cellspacing="0" class="CContent">
					<tr>
						<th class="tablestyle_title">学生信息录入</th>
					</tr>
					<tr>
						<td class="CPanel">
							<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
								<TR>
									<TD width="100%">
										<fieldset style="height:100%;">
											<legend>学生信息</legend>
											<table border="0" cellpadding="2" cellspacing="1" style="width:100%">

												<tr>
													<td><label for="stuNo">学生学号：</label></td>
													<td>
                                                        <input type="text" class="form-control" name="stuNo">
													</td>
												</tr>

												<tr>
													<td><label for="stuName">学生姓名</label></td>
													<td>
                                                        <input type="text" class="form-control" name="stuName">
													</td>
												</tr>

												<tr>
													<td><label for="stuAge">学生年龄</label></td>
													<td>
                                                        <input type="text" class="form-control" name="stuAge">
													</td>
												</tr>

										        <tr>
													<td><label for="stuSex">学生性别</label></td>
													<td>
                                                        <input type="text" class="form-control" name="stuSex">
													</td>
												</tr>
                                                <tr>
													<td><label for="stuGrade">学生年级</label></td>
													<td>
                                                        <input type="text" class="form-control" name="stuGrade">
													</td>
												</tr>
                                                <tr>
													<td><label for="password">密码</label></td>
													<td>
                                                        <input type="text" class="form-control" name="password">
													</td>
												</tr>




											</table>
											<br />
										</fieldset>
									</TD>

								</TR>

							</TABLE>

						</td>
					</tr>

					<TR>
						<TD colspan="2" align="center" height="50px">
							<input type='submit' value='提交'>
						</TD>
					</TR>
				</TABLE>
									</td>
									</tr>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

      </form>

    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
</body>
</html>