<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生-个人信息</title>
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <p class="navbar-text .navbar-left">学生信息管理系统</p>
            <a class="btn btn-default navbar-btn navbar-right" href="/index/" role="button">退出系统</a>
        </div>
	</nav>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">				
                <a class="btn btn-success btn-lg"href="/stu/" role="button">返回</a>
                <a class="btn btn-warning btn-lg"href="/stu_info_modify/" role="button">修改个人信息</a>
			</div>
		</div>        
        <br>
        <div class="page-header">
            <h1>个人信息表</h1>
        </div>
        <ul class="list-group">
            <li class="list-group-item">学号: {{ stu.stuNo }}</li>
            <li class="list-group-item">姓名: {{ stu.stuName }}</li>
            <li class="list-group-item">年龄: {{ stu.stuAge }}</li>
            <li class="list-group-item">性别: {{ stu.stuSex }}</li>
            <li class="list-group-item">年级: {{ stu.stuGrade }}</li>
            <li class="list-group-item">密码: {{ stu.password }}</li>
        </ul>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

    </script>
</body>
</html>